saas:
  grafana-dashboards:
    url: {{ cos_controller|default('micro', true) }}:admin/{{ cos_model|default('cos', true) }}.grafana-dashboards
  prometheus-receive-remote-write:
    url: {{ cos_controller|default('micro', true) }}:admin/{{ cos_model|default('cos', true) }}.prometheus-receive-remote-write
  traefik:
    url: {{ cos_controller|default('micro', true) }}:admin/{{ cos_model|default('cos', true) }}.traefik
relations:
- - agent:grafana-dashboards-provider
  - grafana-dashboards:grafana-dashboard
- - agent:send-remote-write
  - prometheus-receive-remote-write:receive-remote-write
- - history-server:ingress
  - traefik:ingress
