# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

bundle: kubernetes
applications:
  kyuubi:
    charm: kyuubi-k8s
    channel: 3.5/stable
    revision: 160
    resources:
      # rev18, spark-version: 3.5.7, kyuubi-version: 1.10.3, release date 16/03/2026
      kyuubi-image: ghcr.io/canonical/charmed-spark-kyuubi@sha256:21beea406001d161538b552cef2b47b86423bd899139ada263c1ef665fd89fff
    scale: 3
    options:
      namespace: {{ namespace }}
      service-account: {{ service_account }}
      expose-external: loadbalancer
      profile: {{ kyuubi_profile }}
    constraints: arch=amd64
    trust: true
  kyuubi-users:
    charm: postgresql-k8s
    channel: 14/stable
    revision: 774
    resources:
      postgresql-image: 165
    scale: 1
    constraints: arch=amd64
    storage:
      pgdata: kubernetes,1,{{ kyuubi_user_size }}
    trust: true 
  zookeeper:  
    charm: zookeeper-k8s
    channel: 3/stable
    revision: 78
    scale: {{ zookeeper_units or 3}}
    constraints: arch=amd64
    resources:
      zookeeper-image: 34
    storage:
      zookeeper: kubernetes,1,{{ zookeeper_size }}
  metastore:
    charm: postgresql-k8s
    channel: 14/stable
    revision: 774
    resources:
      postgresql-image: 165
    scale: 1
    constraints: arch=amd64
    storage:
      pgdata: kubernetes,1,{{ metastore_size }}
    trust: true
  s3:
    charm: s3-integrator
    channel: 1/stable
    revision: 330
    scale: 1
    options:
      bucket: {{ bucket }}
      endpoint: {{ s3_endpoint }}
      path: spark-events
    constraints: arch=amd64
  history-server:
    charm: spark-history-server-k8s
    channel: 3/stable
    revision: 98
    resources:
      # rev24,  spark-version: 3.5.7, release date 16/03/2026 
      spark-history-server-image: ghcr.io/canonical/charmed-spark@sha256:f7f387a76ba2f3b6cfc34a35f36c0f4ae85bfa78c8c9d4bfa06ba86401b95d70
    scale: 1
    constraints: arch=amd64
  integration-hub:
    charm: spark-integration-hub-k8s
    channel: 3/stable
    revision: 123
    resources:
      # rev 13, release date 19/03/2026
      integration-hub-image: ghcr.io/canonical/spark-integration-hub@sha256:a0439da3e6a9433a0db9501c8ea7b28ba3652af9a9ec22fcc2ad1b0197d48134
    scale: 1
    constraints: arch=amd64
    trust: true
  certificates:
    charm: self-signed-certificates
    channel: 1/stable
    revision: 317
    scale: 1
    constraints: arch=amd64
    trust: true
  data-integrator:
    charm: data-integrator
    channel: latest/stable
    revision: 179
    scale: 1
    constraints: arch=amd64
    options:
      database-name: integrator
relations:
- - integration-hub:s3-credentials
  - s3:s3-credentials
- - history-server:s3-credentials
  - s3:s3-credentials
- - kyuubi:metastore-db
  - metastore:database
- - kyuubi:auth-db
  - kyuubi-users:database
- - kyuubi:spark-service-account
  - integration-hub:spark-service-account
- - kyuubi:zookeeper
  - zookeeper:zookeeper
- - kyuubi:certificates
  - certificates:certificates
- - kyuubi:jdbc
  - data-integrator:kyuubi
