# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

bundle: kubernetes
applications:
  kyuubi:
    charm: kyuubi-k8s
    channel: latest/edge
    revision: 45
    resources:
      kyuubi-image: ghcr.io/canonical/charmed-spark-kyuubi@sha256:3c49dfe71387bd702a30844c80c9a17a8bc8ecb99ebdee37eab4b05e44ac683f # 3.4.2
    scale: 3
    options:
      namespace: {{ namespace }}
      service-account: {{ service_account }}
      expose-external: loadbalancer
    constraints: arch=amd64
    trust: true
  kyuubi-users:
    charm: postgresql-k8s
    channel: 14/stable
    revision: 281
    resources:
      postgresql-image: 159
    scale: 1
    constraints: arch=amd64
    storage:
      pgdata: kubernetes,1,1024M
    trust: true
  zookeeper:
    charm: zookeeper-k8s
    channel: 3/edge
    revision: 70
    scale: {{ zookeeper_units or 3}}
    constraints: arch=amd64
    resources:
      zookeeper-image: 31
  metastore:
    charm: postgresql-k8s
    channel: 14/stable
    revision: 281
    resources:
      postgresql-image: 159
    scale: 1
    constraints: arch=amd64
    storage:
      pgdata: kubernetes,1,1024M
    trust: true
  s3:
    charm: s3-integrator
    channel: latest/edge
    revision: 17
    scale: 1
    options:
      bucket: {{ bucket }}
      endpoint: {{ s3_endpoint }}
      path: spark-events
    constraints: arch=amd64
  history-server:
    charm: spark-history-server-k8s
    channel: 3.4/edge
    revision: 40
    resources:
      spark-history-server-image: ghcr.io/canonical/charmed-spark@sha256:1d9949dc7266d814e6483f8d9ffafeff32f66bb9939e0ab29ccfd9d5003a583a # 3.4.2
    scale: 1
    constraints: arch=amd64
  integration-hub:
    charm: spark-integration-hub-k8s
    channel: latest/edge
    revision: 49
    resources:
      integration-hub-image: 3
    scale: 1
    constraints: arch=amd64
    trust: true
  certificates:
    charm: self-signed-certificates
    channel: latest/edge
    revision: 163
    scale: 1
    constraints: arch=amd64
    trust: true
relations:
- - integration-hub:s3-credentials
  - s3:s3-credentials
- - history-server:s3-credentials
  - s3:s3-credentials
- - kyuubi:metastore-db
  - metastore:database
- - kyuubi:auth-db
  - kyuubi-users:database
- - kyuubi:spark-service-account
  - integration-hub:spark-service-account
- - kyuubi:zookeeper
  - zookeeper:zookeeper
- - kyuubi:certificates
  - certificates:certificates
