# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

bundle: kubernetes
applications:
  kyuubi:
    charm: kyuubi-k8s
    channel: latest/edge
    revision: 27
    resources:
      kyuubi-image: ghcr.io/canonical/charmed-spark-kyuubi@sha256:9268d19a6eef91914e874734b320fab64908faf0f7adb8856be809bc60ecd1d0 # 3.4.2
    scale: 1
    options:
      namespace: {{ namespace }}
      service-account: {{ service_account }}
    constraints: arch=amd64
    trust: true
  kyuubi-users:
    charm: postgresql-k8s
    channel: 14/stable
    revision: 281
    resources:
      postgresql-image: 159
    scale: 1
    constraints: arch=amd64
    storage:
      pgdata: kubernetes,1,1024M
    trust: true
  metastore:
    charm: postgresql-k8s
    channel: 14/stable
    revision: 281
    resources:
      postgresql-image: 159
    scale: 1
    constraints: arch=amd64
    storage:
      pgdata: kubernetes,1,1024M
    trust: true
  azure-storage:
    charm: azure-storage-integrator
    channel: latest/edge
    revision: 1 
    scale: 1
    constraints: arch=amd64
    options:
      container: {{ container }}
      storage-account: {{ storage_account }}
      path: spark-events
      connection-protocol: abfss
  history-server:
    charm: spark-history-server-k8s
    channel: 3.4/edge
    revision: 33
    resources:
      spark-history-server-image: ghcr.io/canonical/charmed-spark@sha256:1d9949dc7266d814e6483f8d9ffafeff32f66bb9939e0ab29ccfd9d5003a583a # 3.4.2
    scale: 1
    constraints: arch=amd64
  integration-hub:
    charm: spark-integration-hub-k8s
    channel: latest/edge
    revision: 22
    resources:
      integration-hub-image: 3
    scale: 1
    constraints: arch=amd64
    trust: true
relations:
- - integration-hub:azure-credentials
  - azure-storage:azure-credentials
- - history-server:azure-credentials
  - azure-storage:azure-credentials
- - kyuubi:metastore-db
  - metastore:database
- - kyuubi:auth-db
  - kyuubi-users:database
- - kyuubi:spark-service-account
  - integration-hub:spark-service-account
