# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

bundle: kubernetes
saas:
  grafana-dashboards:
    url: {{ cos_controller|default('micro', true) }}:admin/{{ cos_model|default('cos', true) }}.grafana-dashboards
  prometheus-receive-remote-write:
    url: {{ cos_controller|default('micro', true) }}:admin/{{ cos_model|default('cos', true) }}.prometheus-receive-remote-write
  traefik:
    url: {{ cos_controller|default('micro', true) }}:admin/{{ cos_model|default('cos', true) }}.traefik
  loki-logging:
    url: {{ cos_controller|default('micro', true) }}:admin/{{ cos_model|default('cos', true) }}.loki-logging
applications:
  agent:
    charm: grafana-agent-k8s
    channel: 1/stable
    revision: 121
    resources:
      agent-image: 46
    scale: 1
    constraints: arch=amd64
    storage:
      data: kubernetes,1,1024M
    trust: true
  cos-configuration:
    charm: cos-configuration-k8s
    channel: 1/stable
    # TODO: bump the revision to 1/stable when both of the following issue gets fixed:
    # https://github.com/canonical/cos-configuration-k8s-operator/issues/128 
    # https://github.com/canonical/cos-configuration-k8s-operator/issues/84
    revision: 65
    base: ubuntu@20.04/stable
    resources:
      git-sync-image: 35
    scale: 1
    options:
      git_branch: main
      git_depth: 1
      git_repo: https://github.com/canonical/spark-k8s-bundle
      grafana_dashboards_path: releases/3.5/resources/grafana/
    constraints: arch=amd64
    storage:
      content-from-git: kubernetes,1,1024M
  pushgateway:
    charm: prometheus-pushgateway-k8s
    channel: 1/stable
    revision: 27
    resources:
      pushgateway-image: 8
    scale: 1
    constraints: arch=amd64
    storage:
      pushgateway-store: kubernetes,1,1024M
  scrape-config:
    charm: prometheus-scrape-config-k8s
    channel: 1/stable
    revision: 67
    base: ubuntu@20.04/stable
    scale: 1
    options:
      scrape_interval: 10s
    constraints: arch=amd64
relations:
- - cos-configuration:grafana-dashboards
  - agent:grafana-dashboards-consumer
- - scrape-config:configurable-scrape-jobs
  - pushgateway:metrics-endpoint
- - scrape-config:metrics-endpoint
  - agent:metrics-endpoint
- - pushgateway:push-endpoint
  - integration-hub:cos
- - agent:grafana-dashboards-provider
  - grafana-dashboards:grafana-dashboard
- - agent:send-remote-write
  - prometheus-receive-remote-write:receive-remote-write
- - agent:logging-consumer
  - loki-logging:logging
- - history-server:ingress
  - traefik:ingress
- - history-server:metrics-endpoint
  - agent:metrics-endpoint
- - history-server:grafana-dashboard
  - agent:grafana-dashboards-consumer
- - history-server:logging
  - agent:logging-provider
- - kyuubi:metrics-endpoint
  - agent:metrics-endpoint
- - kyuubi:grafana-dashboard
  - agent:grafana-dashboards-consumer
- - kyuubi:logging
  - agent:logging-provider
- - integration-hub:logging
  - agent:logging-provider
