# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: Run Tests

on:
  schedule:
    - cron: '53 0 * * *' # Daily at 00:53 UTC
  workflow_call:

jobs:
  checks:
    uses: ./.github/workflows/ci-checks.yaml

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      fail-fast: true
      matrix:
        python-version:
          # - '3.9'
          - '3.10'
    needs:
      - checks
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - id: setup-python
        name: Setup Python
        uses: actions/setup-python@v5.0.0
        with:
          python-version: ${{matrix.python-version}}
          architecture: x64
      - name: Install tox & poetry
        run: |
          pip install tox
          pip install poetry
      - id: tests-unit
        name: Run Unittests
        run: |
          cd python && tox -e unit

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-22.04
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        backend:
          # - --backend yaml
          - --backend terraform
        cos:
          # -
          - --cos-model cos
        tox-environments:
          # - integration-basic
          # - integration-sparkjob
          - integration-bundle
          - integration-kyuubi
    needs:
      - checks
      - unit-tests
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - id: setup-python
        name: Setup Python
        uses: actions/setup-python@v5.0.0
        with:
          python-version: "3.10"
          architecture: x64
      - name: Get prefsrc
        run: |
          echo "IPADDR=$(ip -4 -j route get 2.2.2.2 | jq -r '.[] | .prefsrc')" >> $GITHUB_ENV
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.4/stable
          provider: microk8s
          channel: 1.28-strict/stable
          microk8s-group: snap_microk8s
          microk8s-addons: "rbac dns minio metallb:${{ env.IPADDR }}-${{ env.IPADDR }}"
      - id: cache-image
        name: Cache Spark Image Locally
        run: |
          # Download image for avoiding time out
          IMAGE="ghcr.io/canonical/charmed-spark-kyuubi@sha256:9268d19a6eef91914e874734b320fab64908faf0f7adb8856be809bc60ecd1d0"
          # IMAGE="ghcr.io/canonical/charmed-spark-kyuubi:3.4-22.04_edge"
          
          docker pull $IMAGE 
          docker save $IMAGE -o image.tar
          sudo microk8s ctr images import --base-name $IMAGE image.tar
          docker rmi $IMAGE
          rm image.tar
      - name: Install tox & poetry
        run: |
          pip install tox
          pip install poetry
      - name: Select tests
        id: select-tests
        run: |
          if [ "${{ github.event_name }}" == "schedule" ]
          then
            echo Running unstable and stable tests
            echo "mark_expression=" >> $GITHUB_OUTPUT
          else
            echo Skipping unstable tests
            echo "mark_expression=not unstable" >> $GITHUB_OUTPUT
          fi
      - name: Setup upterm session
        uses: lhotari/action-upterm@v1
      - id: tests-integration
        name: Run Integration Tests
        run: |    
          cd python && tox run -e ${{ matrix.tox-environments }} -- -m '${{ steps.select-tests.outputs.mark_expression }}' ${{ matrix.backend }} ${{ matrix.cos }}
