# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: Run CI tests

on:
  workflow_call:

jobs:
  checks:
    uses: ./.github/workflows/ci-checks.yaml

  integration-tests:
    name: "${{ matrix.tox-env }} (${{ matrix.k8s-distribution }}): spark-${{ matrix.spark-version }} | ${{ matrix.bundle-backend }} | ${{ matrix.storage-backend }} | juju ${{ matrix.juju-agent-version }} | ${{ matrix.cos-model }}"
    runs-on: ["self-hosted-linux-amd64-jammy-xlarge"]
    # runs-on: ubuntu-22.04
    timeout-minutes: 120
    strategy:
      max-parallel: 15
      fail-fast: false
      matrix:
        tox-env:
          - integration-sparkjob
          - integration-kyuubi
          - integration-backup-restore
        bundle-backend: [ "terraform" ]
        spark-version: [ "3.4.4", "3.5.5" ]
        storage-backend: [ "s3", "azure_storage" ]
        juju-snap-channel: [ "3.6/stable" ]
        juju-agent-version: [ "3.6.8" ]
        k8s-distribution: ["k8s", "microk8s"]
        exclude:
          - k8s-distribution: "microk8s"
            spark-version: "3.4.4"
        include:
          # Test integration-basic, with Spark 3.4
          - tox-env: integration-basic
            spark-version: 3.4.4
            juju-snap-channel: "3.6/stable"
            juju-agent-version: "3.6.8"
            k8s-distribution: "k8s"

          # Test integration-basic, with Spark 3.5
          - tox-env: integration-basic
            spark-version: 3.5.5
            juju-snap-channel: "3.6/stable"
            juju-agent-version: "3.6.8"
            k8s-distribution: "k8s"

          # Test bundle + COS with YAML backend just once
          - tox-env: integration-bundle
            bundle-backend: yaml
            cos-model: cos
            storage-backend: s3
            spark-version: 3.4.4
            juju-snap-channel: "3.6/stable"
            juju-agent-version: "3.6.8"
            k8s-distribution: "k8s"

          # Test COS just once with integration-sparkjob
          - tox-env: integration-sparkjob
            bundle-backend: terraform
            storage-backend: s3
            juju-snap-channel: "3.6/stable"
            juju-agent-version: "3.6.8"
            cos-model: cos

          # Test COS just once with integration-kyuubi
          - tox-env: integration-kyuubi
            bundle-backend: terraform
            storage-backend: s3
            juju-snap-channel: "3.6/stable"
            juju-agent-version: "3.6.8"
            cos-model: cos

          # Test COS just once with integration-backup-restore
          - tox-env: integration-backup-restore
            bundle-backend: terraform
            storage-backend: s3
            juju-snap-channel: "3.6/stable"
            juju-agent-version: "3.6.8"
            cos-model: cos

    needs:
      - checks

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Run integration test
        uses: ./.github/actions/run-test
        with:
          k8s-distribution: ${{ matrix.k8s-distribution }}
          tox-env: ${{ matrix.tox-env }}
          bundle-backend: ${{ matrix.bundle-backend || 'terraform'}}
          spark-version: ${{ matrix.spark-version }}
          storage-backend: ${{ matrix.storage-backend || 's3'}}
          cos-model: ${{ matrix.cos-model }}
          juju-snap-channel: ${{ matrix.juju-snap-channel }}
          juju-agent-version: ${{ matrix.juju-agent-version }}
          azure-storage-account: ${{ secrets.AZURE_STORAGE_ACCOUNT }}
          azure-storage-key: ${{ secrets.AZURE_STORAGE_KEY }}
          pytest-args: ${{ matrix.tox-env != 'integration-backup-restore' && '--keep-models' || '' }}

  aggregate-results:
    name: Aggregate Results
    runs-on: ubuntu-24.04
    needs: integration-tests
    if: ${{ success() || failure() }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: results
      - id: setup-python
        name: Setup Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.12
          architecture: x64
      - name: Install pandas & tabulate
        run: |
          pip install pandas
          pip install tabulate

      - name: Run result aggregation script
        run: python3 .github/scripts/aggregate_results.py results/integration-results-*/test-result.json

      - name: Upload summary
        uses: actions/upload-artifact@v6
        with:
          name: matrix-summary
          path: matrix-summary.md

      - name: Add to GitHub Summary
        run: cat matrix-summary.md >> $GITHUB_STEP_SUMMARY
