# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: Nightly CI tests

on:
  schedule:
    - cron: "53 0 * * *" # Daily at 00:53 UTC
  workflow_call:

jobs:
  checks:
    uses: ./.github/workflows/ci-checks.yaml

  integration-tests:
    name: "${{ matrix.tox-env }}: spark-${{ matrix.spark-version }} | ${{ matrix.bundle-backend }} | ${{ matrix.storage-backend }} | juju ${{ matrix.juju.agent }} | ${{ matrix.cos-model }}"
    runs-on: ubuntu-22.04
    timeout-minutes: 120
    strategy:
      max-parallel: 15
      fail-fast: false
      matrix:
        tox-env:
          - integration-sparkjob
          - integration-bundle
          - integration-kyuubi
        bundle-backend: ["yaml", "terraform"]
        spark-version: ["3.4.4", "3.5.4"]
        storage-backend: ["s3", "azure_storage"]
        cos-model: ["", "cos"]
        juju:
          - snap_channel: "3.5/stable"
            agent: "3.5.6"
          - snap_channel: "3.6/stable"
            agent: "3.6.0"
        exclude:
          # COS bundle is mandatory for sparkjob test.
          - tox-env: integration-sparkjob
            cos-model:

          # COS bundle is mandatory for Kyuubi test.
          - tox-env: integration-kyuubi
            cos-model:
        include:
          - tox-env: integration-basic
            spark-version: 3.4.4
            juju:
              - snap_channel: "3.6/stable"
                agent: "3.6.0"
          - tox-env: integration-basic
            spark-version: 3.5.4
            juju:
              - snap_channel: "3.6/stable"
                agent: "3.6.0"
    needs:
      - checks
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Run integration test
        uses: ./.github/actions/run-test
        timeout-minutes: 40
        with:
          tox-env: ${{ matrix.tox-env }}
          bundle-backend: ${{ matrix.bundle-backend }}
          spark-version: ${{ matrix.spark-version }}
          storage-backend: ${{ matrix.storage-backend }}
          cos-model: ${{ matrix.cos-model }}
          juju-snap-channel: ${{ matrix.juju.snap_channel || '3.6/stable' }}
          juju-agent-version: ${{ matrix.juju.agent || '3.6.0' }}
          azure-storage-account: ${{ secrets.AZURE_STORAGE_ACCOUNT }}
          azure-storage-key: ${{ secrets.AZURE_STORAGE_KEY }}
