# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: Run CI tests on a PR

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  install:
    name: "installation tests"
    runs-on: [ "self-hosted-linux-amd64-noble-xlarge" ]
    # runs-on: ubuntu-22.04
    timeout-minutes: 120
    steps:
      - name: Install pipx
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install pipx -y
          pipx ensurepath
          

  # tests:
  #   name: Run CI tests on a PR
  #   uses: ./.github/workflows/ci-tests-minimal-k8s.yaml
  #   secrets: inherit