# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: Run CI tests on a PR

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  # tests:
  #   name: Run CI tests on a PR
  #   uses: ./.github/workflows/ci-tests-minimal-k8s.yaml
  #   secrets: inherit

  tests:
    name: Integration Tests
    runs-on: [ "self-hosted-linux-amd64-noble-xlarge" ]
    timeout-minutes: 20
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup environment
        shell: bash
        run: |
          # Avoiding dockerhub rate limits (see https://canonical-self-hosted-github-runner-docs.readthedocs-hosted.com/en/latest/usage/faq/how-to-avoid-dockerhub-rate-limits/ for more informations)
          if [ -n "$DOCKERHUB_MIRROR" ]; then
          MIRROR_CONFIG=/etc/containerd/hosts.d/docker.io
            
          sudo mkdir -p ${MIRROR_CONFIG}
          sudo chown $USER ${MIRROR_CONFIG}
          cat << EOF > ${MIRROR_CONFIG}/hosts.toml
          [host."$DOCKERHUB_MIRROR"]
          capabilities = ["pull", "resolve"]
          EOF
          fi
          
          sudo apt-get remove -y docker.io containerd
          sudo rm -rf /run/containerd
          sudo snap install concierge --classic
          cd .github
          
          # Set the versions
          # yq -i e '.providers.k8s.channel = "${{ env.K8S_VERSION }}-classic/stable"' concierge.yaml
          yq -i e '.juju.channel = "${{ inputs.juju-snap-channel }}"' concierge.yaml
          yq -i e '.juju.agent-version = "${{ inputs.juju-agent-version }}"' concierge.yaml
          
          sudo concierge prepare --trace
          cd ..
    

